{% extends 'base_back.html.twig' %}

{% block title %}{{ parent() }}Missions{% endblock %}

{% block body %}
    <!-- header Mission -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body app-heading">
                    <img class="profile-img" src="http://placehold.it/150x150">
                    <div class="app-title">
                        <div class="title"><span class="highlight">Missions</span></div>
                        <div class="description">Configure your missions</div>
                    </div>
                    <a href="{{ path('mission_new') }}">
                        <button type="button" class="btn btn-success">Add a new Mission</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              List of missions
            </div>
            <div class="card-body no-padding">
              <table class="datatable table table-striped primary" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mission in missions %}
                        <tr>
                            <td>{{ mission.title }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('mission_edit', { 'id': mission.id }) }}"><button type="button" class="btn btn-warning">modifier</button></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

{% endblock %}


